body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: disc;
	list-style-position: outside;
}

li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ol {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: upper-roman;
	list-style-position: outside;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}

.cssform p{
width: 500px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 250px; /*width of left column containing the label elements*/
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -250px; /*width of left column*/
width: 225px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 300px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}

/*
	TechKnack "Pretty Forms" code
*/

.cssform input, .cssform textarea {
	border:#999 solid 1px;
	background:#FFF url(formgrad.png) repeat-x top left;
}
.cssform input {
	padding:3px 5px;
}
.cssform textarea {
	padding:5px;
}
.cssform .back {
	/*background:#FFF url(submitgrad.png) repeat-x bottom left; */
	background:#FFF repeat-x bottom left;
	cursor:pointer;
}
.cssform .continue {
	/* background:#FFF url(resetgrad.png) repeat-x bottom left; */
	background:#FFF repeat-x bottom left;
	float:right;
	cursor:pointer;
}


/***************/
.required {
	color: #990033; font-weight:bold;
}

.cssform .readonly {
	background-color: #dddddd;	
	background: #dddddd;
}

label.align-to-required {
	text-indent: 1em;
}

#form-nav-buttons {
	width: 700px;
}

#contract-form-wrapper {
	padding-left: 30px;
}
